.box {
    width: 400px;
    height: 400px;
    background-color: rgb(235, 9, 190);
    border-radius: 50%;
    
}
.content {
    width: 600px;
    height: 500px;
    background-color: aqua;
}
.daniel {
    width: 100px;
    height: 100px;
    background-color: black;
}